@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color:#072736;
}

.row{
  width: 100%;
}

#timelines{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.timeline{
  background-color:#072736;
  color:#fff;
  padding:30px 20px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  margin: 15px;
}

.timeline h1{
  color:#34ace0;
}

.timeline ul{
  list-style-type:none;
  padding:10px 5px;
}

.education.timeline ul{
  border-right:2px solid #094a68;
}

.work.timeline ul{
  border-left:2px solid #094a68;
}

.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#1685b8;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#34ace0;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
}

.education.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  right:-11px;
  top:28px;
  transition:.5s;
}

.work.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover{
  background-color:#071f2a;
}
.timeline ul li:hover:before{
  background-color:#0F0;
  box-shadow:0px 0px 10px 2px #0F0;
}

#skills{
  margin: 50px 0px;
  padding: 0px;
}

#skills-header{
  color: #34ace0;
  text-align: center;
  margin-bottom: 20px;
}

#skills-list{
  margin: 0px 0px;
  padding: 0px 50px;
 
}

.skills-item{
  background-color: #072736;
  color: #34ace0;
  border: 0px;
  font-size: larger;
  text-align: center;
}

.skills-item img{
  transform: scale(1);
  transition: transform 1.02s;
}

.skills-item img:hover{
  transform: scale(1.25);
  transition: transform 1.02s;
}

.skills-item h4{
  margin-top: 10px;
}

.invert{
  filter: invert(100);
}