#header{
    background-color: #48e076;
    margin-bottom: 30px;
}

#header img{
    margin-left: 20px;
}

#header a{
    color: black;
    font-size: large;
    padding: 10px 20px;
    margin: 0px 10px; 
}

#header a:hover{
    color: white;
    background-color:darkslategrey;
}

.navbar-toggler{
    margin-right: 20px;
    color: black;
}

