body{
    background-color:#072736;
}

h1{
    color: #34ace0;
}

h3{

    color: #34ace0;
}

p{
    color: white;
}

#homeWelcome{
    position: relative;
    text-align: center;
    color: white;
}

#homeWelcomeBackground{
    height: auto;
    width: 100%;
    
}

#homeWelcomeText{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid{
    margin: 0px;
    padding: 0px;
}

#aboutMe{
    text-align: center;
    margin: 0px 150px;
}

#aboutMe p{
    font-size: 30px;
}

#hobbies{
    margin: 50px 150px 0px 150px;
    text-align: center;
}

#hobbies .row{
    margin-bottom: 100px;
}

#introText{
    margin-bottom: 20px;
}

