body{
    background-color:#072736;
}

embed{
    aspect-ratio: 8.5/11;
}

#resume{
    width: 50%;
}

#download{
    text-align: center;
    font-size: 35px;
    color: #34ace0;
    text-decoration: none;
    margin-bottom: 20px;
}
